# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Ch03_FlowControl_Types.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\RnD\csharp9_dotnet5\Ch03_FlowControl_Types\.idea\.idea.Ch03_FlowControl_Types\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
